<br><br><br>
<div class="input-group mb-3" id="countryBlock">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Country</label>
  </div>
  <select [(ngModel)]="yourCountry" id="country" (change)="getState(yourCountry)">
    <option *ngFor="let option of countryCollection" value="{{option}}">{{option}}</option>
  </select>
</div>

<div class="input-group mb-3" id="stateBlock">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">State</label>
  </div>
  <select [(ngModel)]="yourState" id="state" (change)="getCity(yourState,yourCountry)">
    <option *ngFor="let option of stateCollection" value="{{option}}">{{option}}</option>
  </select>
</div>

<div class="input-group mb-3" id ="cityBlock" >
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">City</label>
  </div>
  <select [(ngModel)]="yourCity" id="city" (change)="getZip(yourCity,yourState,yourCountry)">
    <option *ngFor="let option of cityCollection" value="{{option}}">{{option}}</option>
  </select>  
</div>

<span class="label" name="zipCodeVal" [(ngModel)]="zipCodeVal" ngDefaultControl>{{zipCodeVal}}</span>

