<br><br><br>
<div class="input-group mb-3">
  <input type="text" name="zip" [(ngModel)]="zip" class="form-control" placeholder="Enter ZipCode..">
  <br>  
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="getArea(zip)" type="button" id="button-addon2">Submit</button>
    <button class="btn btn-outline-secondary" (click)="resetForm()" type="button" id="button-addon2">Reset</button>
  </div>
</div>
<span class="label" name="area" [(ngModel)]="areaVal">{{areaVal}}</span>